@page "/Ejercicio-3"
@using Tarea_3.Data
@using Newtonsoft.Json

<h1 class="text-center">Ejercicio #3</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Programa que acepte una palabra o frase en español, mostrarla en ingles. </p>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Escriba aqui" type="text" @bind="sentence" />
        </div>
        <div class="col">
            <button class="btn btn-dark" @onclick="translate">Traducir</button>
        </div>
    </div><br />
    @if (IsSuccess) 
    {
    <div class="col justify-content-center">
        <ul class="list-group">
            <li class="list-group-item text-center">
                <p>@translation.responseData.translatedText</p>
            </li>
        </ul> 
    </div>
    }
</div>

@code {
    private string URL_API = "";
    public string sentence {get; set;}
    public bool IsSuccess = false;
    public Translate translation {get; set;}

    public async Task translate()
    {
        URL_API = "https://api.mymemory.translated.net/get?q=" + sentence + "&langpair=es|en";
        HttpClient http = new HttpClient();
        var response = await http.GetAsync(URL_API);

        if(response.IsSuccessStatusCode)
        {
            var resultToString = await response.Content.ReadAsStringAsync();
            translation = JsonConvert.DeserializeObject<Translate>(resultToString);
            IsSuccess = true;
        }
        else
        {
            IsSuccess =  false;
        }
    }
}