@page "/Ejercicio-4"
@using Tarea_3.Data
@using Newtonsoft.Json

<h1 class="text-center">Ejercicio #4</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Programa que acepte el codigo de un video de youtube, mostrar en la pagina el video con opcion a reproducir. Ejemplo ICfaQ8mSppM. </p>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Escriba aqui" type="text" @bind="code" />
        </div>
        <div class="col">
            <button class="btn btn-dark" @onclick="Search">Buscar</button>
        </div>
    </div><br />
    <div class="col justify-content-center">
        <ul class="list-group">
            <li class="list-group-item text-center">
                <iframe width="auto" height="auto"
                    src="@video">
                </iframe>
            </li>
        </ul> 
    </div>
</div>

@code {
    private string URL_API = "https://www.youtube.com/embed/";
    public string video =  "";
    public string code {get; set;}

    public void Search() { video = string.IsNullOrEmpty(code) ? "" : URL_API + code; }
}